{
  "presets": [
    "react",
    "es2015"
   ],
	"env": {
    "AVA": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "${CONFIG}",
            "verbose": true
          }
        ]
      ]
    }
  }
}
